@font-face {
  font-family: 'icon';
  src: url("../fonts/icons/icomoon.eot?x4y5m7");
  src: url("../fonts/icons/icomoon.eot?x4y5m7#iefix") format('embedded-opentype'), url("../fonts/icons/icomoon.ttf?x4y5m7") format('truetype'), url("../fonts/icons/icomoon.woff?x4y5m7") format('woff'), url("../fonts/icons/icomoon.svg?x4y5m7#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
html body {
  background: #e8e8e8;
}
html header {
  background: #444;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.2);
}
html header div:first-child {
  display: flex;
}
html header div .logo {
  padding: 0 35px;
  border-right: 2px solid #22bce0;
  margin: 10px 0;
}
html header div .logo img {
  height: 100px;
}
html header div .encabezado {
  margin: 10px 0;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
html header div .encabezado .titulo,
html header div .encabezado .clase,
html header div .encabezado .fuente {
  color: #fff;
}
html header div .encabezado .titulo h2 {
  font-size: 18px;
}
html header div .encabezado .clase {
  margin-top: 5px;
}
html header div .encabezado .clase h3 {
  font-size: 14px;
  font-style: italic;
  color: #22bce0;
  font-weight: bold;
}
html header div .encabezado .fuente {
  display: flex;
  margin-top: 5px;
  align-items: first baseline;
}
html header div .encabezado .fuente p {
  margin-right: 5px;
  cursor: pointer;
  color: #dd4f24;
}
html header div .encabezado .fuente p:first-child {
  font-size: 12px;
}
html header div .encabezado .fuente p:last-child {
  font-size: 20px;
}
html header .avatar-publicar {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
html header .avatar-publicar .avatar {
  display: flex;
  align-items: center;
}
html header .avatar-publicar .avatar .img-avatar {
  margin-right: -5px;
  z-index: 1;
}
html header .avatar-publicar .avatar .img-avatar img {
  height: 50px;
  border-radius: 50%;
}
html header .avatar-publicar .avatar .menu {
  background: #dd4f24;
  height: fit-content;
  padding: 5px 5px 5px 10px;
}
html header .avatar-publicar .avatar .menu p {
  color: #fff;
}
html header .avatar-publicar .avatar .menu p span::after {
  font-family: "icon";
  content: "\ea1c";
  display: inline-block;
  transform: rotate(90deg);
}
html header .avatar-publicar .btn {
  background: #dd4f24;
  padding: 5px 30px;
  margin-right: -5px;
}
html header .avatar-publicar .btn p {
  color: #fff;
  font-style: italic;
  position: relative;
}
html header .avatar-publicar .btn p span {
  position: absolute;
  left: -50px;
  top: -10px;
}
html header .avatar-publicar .btn p span::before {
  font-family: "icon";
  content: "\e908";
  font-size: 40px;
  color: #fff;
}
html nav {
  display: flex;
  flex-direction: row;
  background: #22bce0;
  box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.2);
}
html nav .triangle {
  border: 25px solid transparent;
  border-left: 40px solid #fff;
}
html nav ul {
  display: flex;
  align-content: center;
}
html nav ul li {
  display: flex;
  margin-right: 35px;
  padding: 15px;
  flex-wrap: wrap;
  align-content: center;
}
html nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
html nav ul li:hover {
  background: rgba(0,0,0,0.1);
}
html section {
  display: flex;
  flex-wrap: wrap;
}
html section article {
  margin: 10px auto;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  flex-basis: 45%;
  box-shadow: 0px 0px 12px 5px rgba(0,0,0,0.75);
  background: #fff;
}
html section article .contenido {
  border-bottom: 4px solid #22bce0;
  display: flex;
}
html section article .contenido .portada img {
  height: 200px;
}
html section article .contenido .contenidohumoristico {
  margin: 0 15px;
  flex-grow: 1;
}
html section article .contenido .contenidohumoristico .titulo {
  font-weight: bold;
  font-size: 18px;
  font-style: italic;
  margin-top: 10px;
}
html section article .contenido .contenidohumoristico .autor {
  margin-top: 5px;
}
html section article .contenido .contenidohumoristico .autor span {
  color: #dd4f24;
  text-decoration: underline;
}
html section article .contenido .contenidohumoristico .tag-tiempo {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
html section article .contenido .contenidohumoristico .tag-tiempo .tag p {
  background: #22bce0;
  padding: 5px 10px;
  color: #fff;
  border-radius: 16px;
}
html section article .contenido .contenidohumoristico .tag-tiempo .tiempo p span {
  font-weight: bold;
}
html section article .estadistica {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
}
html section article .estadistica .score {
  margin: 0 15px;
}
html section article .estadistica .score p .up::before {
  font-family: "icon";
  content: "\ea1c";
  color: #008000;
  display: inline-block;
  transform: rotate(-90deg);
}
html section article .estadistica .score p .down::before {
  font-family: "icon";
  content: "\ea1c";
  color: #f00;
  display: inline-block;
  transform: rotate(90deg);
}
html section article .estadistica .stars p .puntaje {
  background: #444;
  padding: 3px 5px;
  color: #fff;
  border-radius: 5px;
}
html section article .estadistica .stars p .ico {
  margin-left: 10px;
}
html section article .estadistica .stars p .ico::before {
  font-family: "icon";
  content: "\e9d8";
  color: #fcb92d;
}
html footer {
  background: #dd4f24;
  padding: 30px 0;
  display: flex;
  justify-content: center;
}
html footer div {
  display: flex;
  justify-content: center;
}
html footer div p {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #fff;
  color: rgba(255,255,255,0.5);
  font-weight: bold;
}
html footer div p span {
  font-weight: normal;
}
html footer div p span:before,
html footer div p span:after {
  content: "-";
}
